.MuiDialog-root .MuiPaper-root{
    overflow-y: visible;
    height: 100vh;
    width: 95vw ;
   margin: 0;
}
.MuiBox-root .MuiDialog-container{
    /* width: 100%;
    flex-grow: 1; */

}
.MuiDialog-root .MuiDialogActions-root{
    justify-content: flex-start;
}
.MuiDialog-root .MuiDialogActions-root .MuiButtonBase-root{
    background-color: green;
}
.MuiDialog-root .MuiDialogContent-root {
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    background-color:#f6f6f6;
   /*  border: 2px solid red; */
}
.MuiDialog-root .MuiDialogContent-root > .MuiBox-root{
    height: 100%;
   /*  border: 2px solid black; */
}
.MuiDialogContent-root .MuiBox-root img{
    width: 50%;
    height: 100%;
}
@media only screen and (max-width:1050px) {
    .MuiDialogContent-root .MuiBox-root img{
        width: 95%;
        /* height: 50%; */
        height: 350px;
        margin:  0 auto ;
    }
}
@media only screen and (max-width:1050px) {
    .MuiDialog-root .MuiPaper-root{
        
        height: auto;
        
    }
}
@media only screen and (max-width:450px) {
    .MuiDialogContent-root .MuiBox-root img{
        
        height: 250px;
    }
    .MuiDialog-root .MuiPaper-root .MuiDialogActions-root {
        margin: auto;
    }
}

.MuiDialog-root .MuiPaper-root .MuiDialogActions-root {
    margin-left: auto;
    margin-top: auto;
}